#grid {
    display: grid;
    width: 480px;
    height: 480px;
    grid-gap: 0px;
    grid-template-columns: repeat(16, 30px);
    grid-template-rows: repeat(16, 30px);
    margin: 30px auto;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    font-family: 'Butterfly Kids', cursive;
    font-size: 64px;
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
}

.button {
    color: black;
    background-color: white;
    border: solid black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 12px 28px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin: 0;
    transition-duration: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black:hover {
    color: white;
    background-color: black;
}
.blue:hover {
    color: white;
    background-color: blue;
    border: solid blue;
}
.random:hover {
    animation: random 8s infinite;
}
.rainbow:hover {
    border: none;
    animation: rainbow 8s infinite;
}
.gray:hover {
    color: #555555;
    background-color: #D3D3D3;
    border: #36454F;
}
.startover:hover {
    animation: startover 1s 1;
}

.eraser:hover {
    color: white;
}


@keyframes random {
    0% {
        color: black;
    }
    12.5% {
        color: #3FB79C;
    }
    25% {
      color: #91CF87;
    }
    37.5% {
        color: #EF535D;
    }
    50% {
        color: #DE1598;
    }
    62.5% {
        color: #1A4E5E;
    }
    75% {
        color: #04ACEB;
    }
    87.5% {
       color: #5B5684;
    }
}

@keyframes rainbow {
    0% {
        background-color: white;
    }
    12.5% {
        background-color: red;
    }    
    25% {
        background-color: orange;
    }
    37.5% {
        background-color: yellow;
    }
    50% {
        background-color: green;
    }
    62.5% {
        background-color: blue;
    }
    75% {
        background-color: #4b0082;
    }
    87.5% {
        background-color: #8F00FF;
    }
}

@keyframes startover {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    100% {
        box-shadow: 0 0 0 15px rgba(0, 0, 0,0);
    }
}

.footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#panda {
    width: 125px;
    height: auto;
}

.square {
    background-color: rgb(255, 255, 255);
}