#grid {
    display: grid;
    width: 480px;
    height: 480px;
    grid-gap: 0px;
    grid-template-columns: repeat(16, 30px);
    grid-template-rows: repeat(16, 30px);
    margin: 30px auto;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    font-family: 'Butterfly Kids', cursive;
    font-size: 64px;
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
}

.button {
    color: black;
    background-color: white;
    border: solid black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 12px 28px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin: 0;
    transition-duration: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
}


.rainbow:hover {
    animation: rainbow 8s infinite;
}

@keyframes rainbow {
    0% {
        background-color: white;
    }
    12.5% {
        background-color: red;
    }    
    25% {
        background-color: orange;
    }
    37.5% {
        background-color: yellow;
    }
    50% {
        background-color: green;
    }
    62.5% {
        background-color: blue;
    }
    75% {
        background-color: #4b0082;
    }
    87.5% {
        background-color: #8F00FF;
    }
}

.footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#panda {
    width: 125px;
    height: auto;
}

.square {
    background-color: rgb(255, 255, 255);
}